body{
	background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(20, 55, 90, 150)),url(../images/urbancity.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	color:white;
}

hr{
	width: 500px;
}

.profilepic img{
	border-radius: 300px;
	border: 5px solid white;
	align-items: center;
}
.profilepic{
    width:300px;
	margin: 0 auto;
}


.profileinfo, .selfintro{
	width: 500px;
	margin: 50px auto;
	text-align: center;
	font-family: Georgia;
}

.favorite,.hobbies,.education,.work{
	border: 1px solid lightgrey;
	width:320px;
	height: 200px;
	border-radius: 20px;
	text-align: center;
	font-family: Georgia;
	margin:20px;
	padding-top:35px;
	float:left;
}

.factors{
	width: 750px;
	height: 600px;
	margin: 0 auto;
}

.lifegoal{
	font-family: Georgia;
	font-size: 1.5em;
	text-align: center;
	margin:0 auto;
}

footer{
	text-align: center;
	margin: 0 auto;
}